<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Ripe Bananas!</title>
    <link rel="shortcut icon" type="image/jpg" href="images/favicon.png"/>

    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="bootstrap.min.css" media="screen">

    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="main.css" media="screen">

  </head>

    <!-- Start of navbar -->

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          
          <!-- Input form -->
          <form method="POST" action="/api/lookup">
            <div id="search-10" class="widget_search">
              <form role="search" method="get" action="scroll down action code">
                <div style="text-align: left;">
                <input class="ubicacion" type="text" value="" name="media_title" id="media_title">
                <input type="submit" id="searchsubmit" value="Search"/>
                </div>
              </form>
            </div>
        </form>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-right-custom">
              <li><a href="index.html" target="_blank" rel="noopener noreferrer">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Streaming Services<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="https://www.hulu.com/" target="_blank" rel="noopener noreferrer">Hulu</a></li>
                  <li><a href="https://www.netflix.com/" target="_blank" rel="noopener noreferrer">Netflix</a></li>
                  <li><a href="https://www.primevideo.com/" target="_blank" rel="noopener noreferrer">Amazon Prime Video</a></li>
                  <li><a href="https://www.hbomax.com/" target="_blank" rel="noopener noreferrer">HBO Max</a></li>
                  <li><a href="https://www.disneyplus.com/" target="_blank" rel="noopener noreferrer">Disney+</a></li>
                </ul>
              </li>
              <li><a href="streaming.html" target="_blank" rel="noopener noreferrer">Compare Streaming Platforms</a></li>
              <li><a href="community.html" target="_blank" rel="noopener noreferrer">Demographics</a></li>
              <li><a href="maps.html" target="_blank" rel="noopener noreferrer">Theatres</a></li>
              <li><a href="team.html" target="_blank" rel="noopener noreferrer">Meet the Team!</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <!-- End of navbar -->

</body>

<!-- 
    <! -- Start of container -->
    <div class = 'container projects'>
      <h1><a href="https://www.youtube.com/embed/yfBRIRLvOuE" target="_blank" rel="noopener noreferrer"><img src="images/logo.jpg" alt="streaming services" style="width:400px;height:400px;"></h1>
      <h1>Welcome to Ripe Bananas!</h1>
   <div class="overlay"></div>
   </div>
<!-- <div class="row" style="text-align: center">
</div>
</div>
      </section>
    </div> -->
   <!-- End of container -->
  </hr>
   <div>
   <body>

    <h2><a href="streaming.html" target="_blank" rel="noopener noreferrer">Streaming Platforms</a></h2>
    
    <h3>Which streaming platform is right for you?</h3>
    
    <a href="streaming.html" target="_blank" rel="noopener noreferrer">
    <img src="images/tv.jpg" style="width:800px;height:500px;">
    </a>

    <h2><a href="community.html" target="_blank" rel="noopener noreferrer">Demographics</a></h2>
    
    <h3>Need recommendations? Check out what shows, movies and genres people are enjoying!</h3>
    
    <a href="community.html" target="_blank" rel="noopener noreferrer">
    <img src="images/demographics.jpg" alt="streaming services" style="width:600px;height:500px;">
    </a>

    <h2><a href="maps.html" target="_blank" rel="noopener noreferrer">Explore</a></h2>
    
    <h3>Rather kick it old school? Here is a map of local theatres in DC!</h3>
    
    <a href="maps.html" target="_blank" rel="noopener noreferrer">
    <img src="images/dc.jpg" alt="streaming services" style="width:550px;height:600px;">
    </a>
    </body>
  </div>
    <!-- Start of footer -->
    <footer class="footer navbar-fixed-bottom">
      <div class="two-toned-footer-color"></div>
      <p class="text-muted text-muted-footer text-center">
        &copy; Copyright The Forgotten Dartlings 2021
      </p>
    </footer>
    <!-- End of footer -->

    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>

</html>
